<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


	<appSettings>
		<add key="BaseUrlMac" value="http://10.56.17.58/SamsungFctApi" />
		<add key="BaseUrlMes" value="http://10.56.17.58/JabilApi" />
		<add key="BaseUrlJems4" value="https://man-stg.jemsms.corp.jabil.org/api-external-api/" />

		<add key="LegacyMes" value="False" />
		<add key="WillGetMac" value="False" />
		<!--<add key="WillGetMac" value="True" />-->

		<add key="BasePathLog" value="C:\Users\Paulo Neto\AppTesting\MacRegisterFCT\" />
		<!--<add key="BasePathLog" value="C:\Users\3114809\source\repos\MacRegister\MacRegister\temp\" />-->
		<add key="Equipment" value="TITAN-FCT-02" />
		<add key="Step" value="FCT" />
		<add key="Assembly" value="SMBA92-23728A" />
		<add key="Resource" value="JUTAI - Visual Inspection 1" />
		<add key="PGM" value="RUNTIME_3.2.37.0_R00783" />
		
		<add key="Username" value="svchua_jemsapiprd" />
		<add key="Password" value="qKzla3oBDA51Ecq=+B2_z" />

	</appSettings>




	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>